@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  border: 1px solid red;
} */


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

:root {
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  --font-sans: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
  --font-mono: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s,opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out,opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s,transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out,transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
}

html {
  scrollbar-color: var(--dark-slate) var(--navy);
}

body {
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;
  background-image: radial-gradient(
    ellipse at center,
    var(--dark-navy) 0%,
    var(--navy) 100%
);
   padding: 0px 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  z-index: 2;
}

.content-wrapper {
  margin-bottom: 400px;
  margin-right: 150px;
}

/* .second-container {
  position: relative;
  margin: 0px auto;
  width: 100%;
  min-height: 100vh;
  padding: 20px 100px;
  z-index: 1; 
  top: -50vh; 
} */

.kFCHyX {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}

.font-mono{
  counter-reset: item 0;
  z-index: 12;
}

*, ::before, ::after {
  box-sizing: inherit;
}

.hLTFFw {
  pointer-events: auto !important;
}

/* Navbar texts */
.buZqzj-ol-li-a {
  padding: 10px;
  transition: color 0.1s ease-in-out;
}

.buZqzj-ol-li {
  font-size: var(--fz-xs);
  padding-top: 12px;
}

.buZqzj-ol-li-a:hover {
  color: var(--green); /* Adjust the rgba color and opacity as needed */
}

.buZqzj-ol {
  list-style: none;
}


/* Numbers */

.numbers-ol-li {
  padding: 10px;
  color: var(--green);
  font-size: var(--fz-xs);
  padding-top: 12px;
}


.kFCHyX {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: var(--lightest-slate);
  font-family: var(--font-mono);
  counter-reset: item 0;
  z-index: 12;
}
*, ::before, ::after {
  box-sizing: inherit;
}
.hLTFFw {
  pointer-events: auto !important;
}


.buZqzj-button{
  color: var(--green);
  background-color: transparent;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fz-xs);
}
.buZqzj-button:hover{
  color: var(--navy);
  background-color: var(--green);
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  padding: 1rem 1.5rem;
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);
  margin-left: 15px;
  font-size: var(--fz-xs);
}



/* Main div*/
@media (max-height: 700px) and (min-width: 700px), (max-width: 360px){  
  .main-container {
    height: auto;
    padding-top: var(--nav-height);
    transition: height 0.5s ease-in-out;
  }
}
/* 
.eEjAsd {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  /* min-height: 100vh;
  height: 100vh; */
  /* padding: 0px; */
/* } */ 

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20%;
  left: 2.5rem;
  transform: translateY(-50%);
}


.icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--light-slate);
  padding-bottom: 20px;
}

.icon:hover {
  color: var(--green); /* Change this color to the desired hover color */
}

@media (max-width: 768px) {
body {
font-size: var(--fz-lg);
padding: 0px 20px;
}

.main-container {
padding: 200px 50px;
}

.second-container {
padding: 10px;
top: 0;
}

.social-icons {
top: 50%;
left: 1rem;
}

.buZqzj-button {
font-size: var(--fz-sm);
}
}

@media screen and (max-width: 768px) {
  .buZqzj-ol {
    display: none;
  }

  .buZqzj-button {
    display: none;
  }
}

/* Hamburger menu styles */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 24px;
  height: 16px;
  cursor: pointer;
  z-index: 1000;
  position: absolute; /* Add this */
  top: 1rem; /* Add this */
  right: 1rem; /* Add this */
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--lightest-slate);
  transition: all 0.3s ease;
}

.line.open:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Make the navigation items and burger menu responsive */
@media screen and (max-width: 768px) {
  .buZqzj-ol {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--navy);
    text-align: center;
  }

  .buZqzj-ol.open {
    display: flex;
  }

  .buZqzj-button {
    margin-bottom: 1rem;
  }

  .burger-menu {
    display: flex;
  }
}